body {
    height: 100vh;
    margin: 0;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

tbody {
    background-color: white;
}
.table-wrapper {
    max-height: 250px;
    overflow-y: auto;
}

.table-wrapper table {
    margin: auto;
}

#delete-icon {
    margin-left: 25%;
}


/* Personalizações adicionadas */
.container {
    justify-content: center;
}

.table-hover tbody tr:hover {
    background-color: #e6f2ff;
}

.table-gradient thead th {
    background: #393646;  /* fallback for old browsers */

    color: white;
}
td, th, tr {
    text-align: center;
}
.cart-icon {
    position: relative;
    display: inline-block;
    font-size: 28px; /* Aumente o tamanho do ícone */
    margin-right: 10px;
}

.item-count {
    position: absolute;
    top: -1px;
    right: -12px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 15px; /* Aumente o tamanho da contagem */
    width: 20px;
    height: 20px;
    display: flex; /* Adiciona flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.total {
    margin-left: 10px;
    font-size: 25px;
}