body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #59a0ff, #dad8d8);
}

h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

tbody {
    background-color: white;
}
.table-wrapper {
    max-height: 300px;
    overflow-y: auto;
}

.table-wrapper table {
    margin: auto;
}

#delete-icon {
    margin-left: 25%;
}


/* Personalizações adicionadas */
.container {
    justify-content: center;
}

.table-hover tbody tr:hover {
    background-color: #e6f2ff;
}

.table-gradient thead th {
    background: linear-gradient(to bottom, #0099cc, #006699);
    color: white;
}